<div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100vh">
  <h1 style="font-size: 200px">
    <%= @number %>
  </h1>

  <div>
    <button phx-click="increment">Increment</button>
    <button phx-click="decrement">Decrement</button>
    <button phx-click="push-patch">Change page (push_patch)</button>
    <button phx-click="push-redirect">Change page (push_redirect)</button>
  </div>
</div>
